<!DOCTYPE html>
<html>
<head lang="en">
	<title>AngularJS sample1</title>
	<meta charset="utf-8">
</head>
<body ng-app="module">
	<form ng-submit="submit()" ng-controller="controller">
		<input type="input" ng-model="name">
		<input type="submit" value="add">

		<p>Student list</p>
		<ul ng-repeat="l in list">
			<li>{{l}}</li>
		</ul>
	</form>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
	/**
	* module Module
	*
	* Description
	*/
	angular.module('module', []).controller('controller', ['$scope', function($scope){
		$scope.list = [];

		$scope.submit=function(){
			if($scope.name){
				$scope.list.push($scope.name);
				$scope.name ='';
			}
		}
	}])
</script>
</html>